<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard - EBS Volumes</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}

  <div class="container-fluid">
    <div class="row">
    <div class="col-md-9 col-md-offset-1" align="center">
     <h2><span class="label label-info">Unassociated EBS Volumes</span></h2><br/>
     <p>
      <table class="table table-striped display">
        <thead>
          <tr style="font-weight:bold">
            <td>EBS Volume ID</td>
            <td>Size</td>
            <td>Type</td>
            <td>IOPs</td>

            <td>Status</td>
            <td>Current State</td>

            <td>Create Time</td>
            <td>Tags</td>
          </tr>
        </thead>
        {% for vol in ebs_vol %}
        <tr>
          <td>
            {{vol['id']}}
          </td>
          <td>
            {{vol['size']}}G
          </td>
          <td>
            {{vol['type']}}
          </td>
          <td>
            {{vol['iops']}}
          </td>
          <td>
            {{vol['status']}}
          </td>
          <td>
            {{vol['vol_state']}}
          </td>
          <td>
            {{vol['create_time']}}
          </td>
          <td>
            {{vol['tags']}}
          </td>
        </tr>
        {% endfor %}
      </table>
    </p>
  </div>
</body>
</html>
