<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard - Elastic IPs</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}

  <div class="row">
    <div class="col-md-4 col-md-offset-1" align="center">
      <span class="label label-info">Unassociated Elastic IPs</span></br>
      <p>
        <table class="table table-striped">
          <tr style="font-weight:bold">
            <td>Elastic IP</td><td>Domain</td><td>Delete</td>
          </tr>
          {% for eli in un_eli %}
          <tr>
            <td>
              {{eli['public_ip']}}
            </td>
            <td>
              {{eli['domain']}}
            </td>
            <td>
              <a href="/elastic_ips/{{region}}/delete/{{eli['public_ip']}}"><button class="btn btn-danger btn-mini" type="button">Delete</button></a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </p>
    </div>
  </div>
</body>
</html>
