<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard - Elastic Load Balancers</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-9 col-md-offset-1" align="center">
      <span class="label label-info">Improper ELBs</span></br>
      <p>
        <table class="table table-striped display" width=1000>
          <thead>
            <tr style="font-weight:bold">
              <td>Elastic LB</td><td>Instances</td><td>Health Check</td>
            </tr>
          </thead>
          {% for elb in elb_list %}
          <tr>
            <td>
              {{elb['elb_name']}}
            </td>
            <td>
              {{elb['elb_attached_instances']}}
            </td>
            <td>
              {{elb['elb_healthcheck']}}
            </td>
          </tr>
          {% endfor %}
        </table>
      </p>
    </div>
  </div>
</body>
</html>
