  <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/datatables/media/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/datatables/media/css/jquery.dataTables_themeroller.css">

  <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/datatables/media/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/aws_dashboard.js"></script>
