<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}

  {% for dict in list %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-1" align="center">
        <h4><span class="label label-info">{{ dict['region'] }}</span></h4>
        <p>
          <table class="table table-striped">
            {% for zone in dict['zones'] %}
            <tr>
              <td>{{ zone.name }}</td>
              <td>
                {% if zone.state == 'available' %}
                  <button class="btn btn-success" type="button">H</button>
                {% else %}
                  <button class="btn btn-danger" type="button">X</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </p>
      </div>
      <div class="col-md-6 col-md-offset-1" align="center">
        <h4><span class="label label-info">{{ dict['region'] }}</span></h4>
        <p>
          <table class="table table-striped">
            <thead>
              <tr style="font-weight:bold">
                <td>Instances</td>
                <td>Instance Events</td>
                <td>EBS Volumes</td>
                <td>Elastic IPs</td>
                <td>Elastic LBs</td>
                <td>VPCs</td>
                <td>Subnet IPs</td>
                <td>RDS</td>
              </tr>
            </thead>
            <tr>
              <td>
                <a href="/ec2/instances/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['instance_count'] }}</button></a>
              </td>
              <td>
                {% if dict['event_count'] == 0 %}
                  <a href="/ec2/events/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['instance_count'] }}</button></a>
                {% else %}
                  <a href="/ec2/events/{{ dict['region'] }}"><button class="btn btn-danger" type="button">{{ dict['instance_count'] }}</button></a>
                {% endif %}
              </td>

              <td>
                {% if dict['unattached_ebs'] == 0 %}
                  <a href="/ec2/ebs/volumes/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['ebscount'] }}</button></a>
                {% else %}
                  <a href="/ec2/ebs/volumes/{{ dict['region'] }}"><button class="btn btn-danger" type="button">{{ dict['ebscount'] }}</button></a>
                {% endif %}
              </td>

              <td>
                {% if dict['unattached_eli'] == 0 %}
                  <a href="/ec2/eips/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['eli_count'] }}</button></a>
                {% else %}
                  <a href="/ec2/eips/{{ dict['region'] }}"><button class="btn btn-danger" type="button">{{ dict['eli_count'] }}</button></a>
                {% endif %}
              </td>

              <td>
                {% if dict['improper_elb'] == 0 %}
                  <a href="/elb/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['elb_count'] }}</button></a>
                {% else %}
                  <a href="/elb/{{ dict['region'] }}"><button class="btn btn-danger" type="button">{{ dict['elb_count'] }}</button></a>
                {% endif %}
              </td>

              <td>
                <a href="/vpc/list/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['vpc_count'] }}</button></a>
              </td>

              <td>
                {% if dict['ip_low_subnet'] == 0 %}
                  <a href="/vpc/subnet/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['subnet_counter'] }}</button></a>
                {% else %}
                  <a href="/vpc/subnet/{{ dict['region'] }}"><button class="btn btn-danger" type="button">{{ dict['subnet_counter'] }}</button></a>
                {% endif %}
              </td>

              <td>
                  <a href="/rds/list/{{ dict['region'] }}"><button class="btn btn-success" type="button">{{ dict['rds_counter'] }}</button></a>
              </td>
            </tr>
          </table>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>
