<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard - Instance Events</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}

  <div class="row">
    <div class="col-md-9 col-md-offset-1" align="center">
      <span class="label label-info">Instance Events</span></br>
      <p>
        <table class="table table-striped">
          <tr style="font-weight:bold">
            <td>Instance ID</td><td>Hostname</td><td>Event</td><td>Description</td><td>Event Before</td><td>Event After</td>
          </tr>
          {% for instance_event in instance_event_list %}
          <tr>
            <td>
              {{instance_event['instance_id']}}
            </td>
            <td>
              {{instance_event['instance_name']}}
            </td>
            <td>
              {{instance_event['event']}}
            </td>
            <td>
              {{instance_event['description']}}
            </td>
            <td>
              {{instance_event['event_before']}}
            </td>
            <td>
              {{instance_event['event_before']}}
            </td>
          </tr>
          {% endfor %}
        </table>
      </p>
    </div>
  </div>
</body>
</html>
