<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard - Subnet Free IPs</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}

  <div class="container-fluid">
    <div class="row">
    <div class="scol-md-9 col-md-offset-1" align="center">
       <h2><span class="label label-info">VPC Subnets</span></h2><br/>
       <p>
        <table class="table table-striped display">
          <thead>
            <tr style="font-weight:bold">
              <td>Subnet ID</td>
              <td>Subnet VPC ID</td>
              <td>CIDR Block</td>
              <td>Availability Zone</td>
              <td>Free IPs</td>
              <td>State</td>
              <td>Tags</td>
            </tr>
          </thead>
          {% for subnet in vpc_subnets %}
          <tr>
            <td>
              {{ subnet['subnet_id'] }}
            </td>
            <td>
              {{ subnet['subnet_vpc'] }}
            </td>
            <td>
              {{ subnet['subnet_cidr'] }}
            </td>
            <td>
              {{ subnet['subnet_az'] }}
            </td>
            <td>
              {% if subnet['subnet_avail_ip'] < 15 %}
                <span class="label label-danger">{{ subnet['subnet_avail_ip'] }}</span>
              {% else %}
                {{ subnet['subnet_avail_ip'] }}
              {% endif %}
            </td>
            <td>
              {{ subnet['subnet_state'] }}
            </td>
            <td>
              {{ subnet['subnet_tags'] }}
            </td>
          </tr>
          {% endfor %}
        </table>
       </p>
    </div>
  </div>
</body>
</html>
