<!doctype html>
<html>
<head>
  {% include "head.html" ignore missing %}
  <title>AWS Dashboard - Subnet Free IPs</title>
</head>
<body>
  {% include "navbar.html" ignore missing %}

  <div class="row">
    <div class="scol-md-9 col-md-offset-1" align="center">
       <span class="label label-info">Instance Events</span></br>
       <p>
        <table class="table table-striped">
          <tr style="font-weight:bold">
            <td>Subnet ID</td><td>CIDR Block</td><td>Availability Zone</td><td>Free IPs</td><td>Tags</td>
          </tr>
          {% for subnet in lowsubnet %}
          <tr>
            <td>
              {{subnet['subnet_id']}}
            </td>
            <td>
              {{subnet['subnet_cidr']}}
            </td>
            <td>
              {{subnet['subnet_az']}}
            </td>
            <td>
              {{subnet['subnet_avail_ip']}}
            </td>
            <td>
              {{subnet['subnet_tags']}}
            </td>
          </tr>
          {% endfor %}
        </table>
       </p>
    </div>
  </div>
</body>
</html>
